.blog-image-wrapper {
  position: fixed;
  top: 120px;
  width: 33%;
  transition: all 0.3s ease;
}

.blog-image-wrapper.stop-sticky {
  position: absolute;
  top: auto;
  bottom: 0;
}

.blog-image1 {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

/* content */
.blog-content {
  padding-right: 24px;
}

/* Prevent layout jump */
.blog-detail {
  position: relative;
}
.blog-description {
  margin-top: 20px;
 

}

/* Blog Content Wrapper */
.blog-content {
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  line-height: 1.9;
  transition: all 0.3s ease;
}

/* Blog Main Heading */
.blog-heading {
  font-size: 26px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 10px;
  position: relative;
}
.heading{
  color: #6665ae;
}


.blog-heading::after {
  content: "";
  width: 60px;
  height: 3px;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  display: block;
  margin-top: 6px;
  border-radius: 5px;
}

/* Blog Sub Title */
.blog-title {
  font-size: 20px;
  font-weight: 600;
  color: #374151;
  margin: 15px 0;
}

/* Description Text */
.blog-description {
  font-size: 16px;
  color: #4b5563;
  margin-top: 15px;
  text-align: justify;
}

/* Date */
.blog-date {
  margin-top: 25px;
  font-size: 14px;
  color: #9ca3af;
  font-style: italic;
  text-align: right;
}

/* Hover effect */
.blog-content:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
}

/* Responsive */
@media (max-width: 992px) {
  .blog-content {
    padding: 20px;
  }

  .blog-heading {
    font-size: 22px;
  }

  .blog-title {
    font-size: 18px;
  }

  .blog-description {
    font-size: 15px;
  }
}



/* SOCIAL ICONS */
.blog-social-links {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.social-icon {
  width: 40px;
  height: 40px;
  background: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 18px;
  transition: 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon.facebook:hover {
  background: #1877f2;
  color: white;
}

.social-icon.instagram:hover {
  background: #e1306c;
  color: white;
}




