.main20{
    padding: 31px 0px;
}
.blog-img {
  height: 270px;
  width: 100%;
  object-fit: cover !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: block;
 
}





.blog-detail-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.blog-image1 {
  width: 100%;
  border-radius: 0.5rem;
 max-height: 600px;
  object-fit: cover;
  margin-top: 1rem;
  
}

.blog-heading {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color:#007bff;
  font-weight: 600;
  font-size: 2rem;
}

.blog-title {
  display: inline-block;
  background: #fdf0f3;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  font-weight: 500;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.blog-description {
  margin-top: 10px;
  font-size: 1.125rem;
  line-height: 25px;
  color: #555;
}


