.best-flight {
  background: #f9fbff;
}

.best-flight .section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}

.best-flight .section-title span {
  color: #007bff;
}

.best-flight .perra {
  color: #555;
  font-size: 1rem;
  margin-top: 10px;
  max-width: 600px;
}


/* flight */

/* Flights.css */
.top-flight-routes{padding: 70px 0px;

  h2 {       margin-bottom: 60px;}
  span {
      color: #498ab5; 
  }
}

.flight-card {
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #eaeaea;
}

.flight-card:hover {
  transform: translateY(-5px);
}

.flight-card img {
  height: 300px;
  object-fit: cover;
  padding: 15px;
  border-radius: 25px !important;
}



.flight-card .code {
  color: #c7681f;
  font-weight: 600;
  font-size: 14px;
}
