.cab-card {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 1.5rem;
}

.cab-img {
  width: 355px !important;
  object-fit: contain;
}

.dot {
  margin: 0 6px;
  color: #007bff;
  font-weight: bold;
}

.cab-list {
  padding-left: 1rem;
}

.cab-list li {
  list-style-type: disc;
  margin-bottom: 4px;
}

.cab-footer {
  border-top: 1px solid #eaeaea;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.spacious-title {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.cab-features ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.cab-features li {
  margin-bottom: 4px;
  line-height: 1.4;
}
.cab-section {
  padding: 20px 0;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/public/Images/cab-banner.png") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}
