.Testimonials {
  padding: 60px 0;
}

.heading-section .main-title {
  font-size: 32px;
  font-weight: 700;
  text-align: start;
}

.heading-section .main-title span {
  color: #498ab5;
}

.sub-title {
  
  margin-top: 10px;
  text-align: start
}

.testimonial-row {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD STYLE SAME AS IMAGE */
.testimonial-card {
  width: 330px;
  background: #fbeeee;
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.stars {
  color: #ffa500;
  font-size: 20px;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 15px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* USER SECTION */
.testimonial-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: #000;
}
