.blocking-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.65);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999999; /* higher than modal */
}

.blocking-card {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.blocking-card h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.blocking-card p {
  color: #555;
  font-size: 14px;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #eee;
  border-top: 5px solid #0d6efd;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
