.dest{
  color:#0071EB;
  font-weight: 600;
}
.about{
   padding: 20px 0px 20px 0px; 
}
.safari-x{
    padding: 20px 0px 20px 0px; 
}
.card-text{
    font-size: 14px;
    font-weight:400;
}